* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--strong-cyan: hsl(171, 66%, 44%);
	--light-blue: hsl(233, 100%, 69%);
	--dark-grayish-blue: hsl(210, 10%, 33%);
	--grayish-blue: hsl(201, 11%, 66%);
}

body {
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 18px;
	line-height: 1.4;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	max-width: 375px;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('./images/bg-header-mobile.png');
	padding: 80px 0px;
	margin-bottom: 0;
}

section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 0px 25px;
	margin-bottom: 100px;
}

p {
	text-align: center;
}

.big-txt,
.mid-txt {
	color: var(--dark-grayish-blue);
}

.big-txt {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 20px;
}

.reasoning {
	font-size: 14px;
	color: var(--grayish-blue);
	margin-bottom: 40px;
}

.buttons-pair {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn {
	width: 290px;
	height: 50px;
	border-radius: 25px;
	font-size: 16px;
	font-weight: 400;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	transition: 0.3s;
}

.btn:hover {
	cursor: pointer;
	opacity: 0.6;
}

.ios-btn {
	background-color: var(--strong-cyan);
}

.mac-btn {
	background-color: var(--light-blue);
}

.picture-features {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.picture {
	width: 90%;
	margin-bottom: 50px;
}

.features {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mid-txt {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}

.icon {
	margin: 30px auto;
	display: block;
}

section:last-of-type {
	margin-bottom: 0;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f5f6f8;
	padding: 50px 0;
}

footer img {
	width: 50px;
	height: 50px;
}

.menu {
	display: flex;
	flex-direction: column;
}

.menu-item {
	margin: 15px 0;
}

.menu-item:last-of-type {
	margin-bottom: 50px;
}

.menu-item:hover {
	color: var(--strong-cyan);
	cursor: pointer;
}

.social {
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.social-icon {
	max-width: 20px;
	max-height: 20px;
	width: auto;
	height: auto;
}

svg:hover {
	fill: var(--strong-cyan);
	cursor: pointer;
}

.attribution {
	display: none;
}

@media only screen and (min-width: 1440px) {
	main {
		max-width: 1440px;
	}

	header {
		background-image: url('./images/bg-header-desktop.png');
	}

	section > .reasoning {
		padding: 0 25%;
	}

	.buttons-pair {
		width: 600px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.picture-features {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 80%;
	}

	.snippets-section .picture-features {
		padding-left: 0;
	}

	.picture {
		width: 30%;
	}

	.feature p {
		text-align: left;
	}

	.feature .reasoning {
		width: 80%;
	}

	.workflows {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0 10%;
	}

	.workflow {
		width: 30%;
	}

	.customers-section {
		display: flex;
		flex-direction: row;
	}

	section:last-of-type {
		margin-bottom: 100px;
	}

	footer {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: last baseline;
		padding: 50px 10%;
	}

	.menu {
		width: 30%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		align-content: space-between;
	}

	.space {
		width: 20%;
	}

	.menu-item {
		margin: 0;
	}

	.social {
		width: 15%;
	}

	.attribution {
		display: block;
		position: relative;
		bottom: 0px;
	}
}
